.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.divider {
  width: 1px;
  height: 35px;
  background: var(--border-subtle);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
  .divider {
    display: none;
  }
}
